@import './tokens.css';

@layer layout {
  .container {
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
  }

  .center {
    display: grid;
    place-items: center;
  }

  .grid {
    min-width: 500px;
    min-height: 500px;
    display: inline-grid;
  }

  .grid-gap-s3 {
    gap: var(--s-3);
  }

  .grid-dynamic-columns {
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
  }

  @container square (width > 40px) {
    .square > p {
      font-size: clamp(1.5rem, 60cqi, 6rem);
    }
  }

  .square {
    --bg: var(--brand-4);
    --flash-delta: 0;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid var(--border);
    container-type: inline-size;
    container-name: square;

    background-color: oklch(from var(--bg) calc(l - var(--flash-delta)) c h);

    &.highlight {
      animation: flash 1s ease-in-out;
    }
  }

  @keyframes flash {
    from {
      --flash-delta: 1;
    }
  }

  input,
  select,
  textarea {
    padding: var(--s-1) var(--s-2);
    border-radius: var(--r-sm);
    border: 1px solid var(--border);
    background: var(--surface);
    color: var(--text);
  }
}
